@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

body{
  background-color: rgb(251, 251, 251);
}

p{
  color: white;
  font-family: "Oswald", sans-serif;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: transparent;
  width: 100%;
  margin-top: 30px;
  position: absolute;
  top: 0;
  font-family: "Oswald", sans-serif;
  
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo p{
  font-size: 14px;
  cursor: pointer;
}

.logo img{
  width: 90px;
  height: 110px;
}

nav ul a{
  padding: 10px 20px;
  color: white;
  font-size: 12.5px;
  position: relative;
  width: max-content;
  
}

.nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

nav ul a::after{
  content: '';
  position: absolute;
  top: 30px;
  left: 18px;
  width: 68%;
  height: 2px;
  background-color: #e19d35;
  opacity: 0;
  
}

nav ul a:hover::after{
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.nav-menu li{
  position: relative;
}


.donatee a{
  color: white;
  font-size: 12.5px;
  background-color: #e19d35;
  padding: 5px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s ease;
}

.donatee:hover a{
  background-color: rgb(49, 49, 49);
  font-size: 15px;
}

.ham-menu{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  display: none;
}

.ham-menu i{
  color: #e19d35;
  font-size: 30px;
}

.location-details{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin-top: 120px;
  position: absolute;
}

.locate-con{
  display: flex;
}

.location-details p{
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

.location-details div i{
  color: #e19d35;
}


.about-us-hero-container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/worship.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
}


.about-us-text h1{
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 190px;
  padding-bottom: 20px;
}

.about-us-text h3{
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.about-us-text p{
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: white;
  text-align: center;
  align-items: center;
}

.about-con{
  display: flex;
  justify-content: space-between;
  
}

.mission-vision{
  text-align: start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 3%;
}

.join-us{
  text-align: end;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 5%;
  margin-left: 30%;
}

.join-us div{
  margin-bottom: 20px;
}

.join-us a{
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 8px 20px;
  margin-right: 50%;
  border-radius: 35px;
  border: 1.5px solid #e19d35;
  transition: .5s ease;
  cursor: pointer;
}

.join-us a:hover{
  background-color: rgb(49, 49, 49);
  color: white;
  font-size: 15px;
}

.mission-vision div{
  margin-bottom: 20px;
}

.mission-vision a{
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 8px 20px;
  border-radius: 35px;
  border: 1.5px solid #e19d35;
  transition: .5s ease;
  cursor: pointer;
}

.mission-vision a:hover{
  background-color: rgb(49, 49, 49);
  color: white;
  font-size: 15px;
}

.mission-con p{
  text-align: center;
  background-color: transparent;
  border: 1.5px solid #e19d35;
  width: fit-content;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-left: 4%;
}

.join-us-con p{
  text-align: center;
  background-color: transparent;
  border: 1.5px solid #e19d35;
  width: fit-content;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-left: 4%;
}

.join-us-con p span{
  font-weight: 600;
}

.statement-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.statement-of-con{
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}


.statement-of-con h2 {
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
  margin-bottom: 30px;
}

.statement-of-con p{
  color: rgb(49, 49, 49);
  margin-bottom: 30px;
}

.belief-container p{
  color: rgb(49, 49, 49);
  text-align: start;
  background-color: #e19d35;
  padding: 15px 25px;
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.95);
}

.belief-container span{
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.leader-container{
  display: block;
  margin-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

.leader-container h2{
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
  margin-bottom: 50px;
  text-align: center;
}

.leadership-con{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 80px;
}

.leadership-con h3{
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: rgb(49, 49, 49);
  margin-bottom: 30px;
}

.leadership-con p{
  color: rgb(49, 49, 49);
  margin-bottom: 30px;
  line-height: 25px;
}

.leadership-con img{
  border: 1.5px solid rgba(0, 0, 0, 0.95);
  padding: 5px;
}

.pst-frank{
  margin-top: 35px;
}

.pst-remi-img{
  width: 300px;
}

.core-value-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.core-value-con{
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}


.core-value-con h2 {
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
  margin-bottom: 30px;
}

.core-value-con p{
  color: rgb(49, 49, 49);
  margin-bottom: 30px;
}

.core-container p{
  color: rgb(49, 49, 49);
  text-align: start;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  border: 2px solid #e19d35;
}

.core-container span{
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.about{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-color: rgb(237, 237, 237);
  padding-bottom: 30px;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.about-container h2{
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.about-context{
  margin: 20px 0 0 0;

}

.about-context p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
}

.p-highlights{
  margin-top: 30px;
  margin-bottom: 30px;
}

.location-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.location-context{
  margin-top: 20px;
  margin-bottom: 10px;
}

.location-context p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
}
.location-context p span{
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.location-container h2{
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.p-highlights p{
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 20px 70px;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  transition: .5s ease;
}

.p-highlights:hover p{
  background: #e19d35;
  color: rgb(49, 49, 49);
  font-size: 15px;
  
}

.read-more-txt a{
  color: #e19d35;
  font-size: 14px;
  transition: .6s ease;
  font-family: "Oswald", sans-serif;
}

.read-more-txt:hover a{
  color: rgb(49, 49, 49);
  font-size: 14px;
}

.join-online p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
}

.join-online a{
  color: rgb(225, 47, 47);
}

.contact-details{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 8px;
}

.contact-details p{
  color: rgb(49, 49, 49);
  font-size: 14px;
}

.contact-details p span{
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.footer{
  width: 100%;
  height: 100px;
  background-color: #e19d35;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer-container p{
  color: rgb(49, 49, 49);
  font-size: 13px;
}

.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socials-container i{
  font-size: 28px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.95);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  header{
    white-space: nowrap;
    padding: 0 3%;
  }

  .logo p{
    font-size: 8px;
  }

  .about-us-hero-container{
    height: 800px;
  }

  nav ul a,
  .donatee a{
    font-size: 10px;
  }

  .location-container h2,
  .about-container h2,
  .donation-container p{
    font-size: 30px;
  }

  .mission-vision a,
  .join-us a{
    white-space: nowrap;
    padding: 8px 15px;
  }

  .about-context p{
    margin-left: 5px;
  }

  .socials-container i{
    font-size: 22px;
  }

  .footer{
    margin-top: 30px;
  }
}

@media screen and (max-width: 750px){
  
  .logo{
    margin-left: -40px;
  }

  .logo p{
    font-size: 13px;
  }

  .nav-menu{
    position: absolute;
    top: 80px;
    left: -100%;
    gap: 40px;
    flex-direction: column;
    background-color: #e19d35;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.6s ease;
    z-index: 200;
  }

  .nav-menu.active{
    left: 0;
  }

  nav ul a{
    color: white;
    margin-top: 30px;
    transition: .6s ease-in-out;
  }

  nav ul a:hover{
    color: rgb(49, 49, 49);
  }

  .donatee a,
  .border-line{
    display: none;
  }

  .ham-menu{
    display: block;
    cursor: pointer;
  }

  .ham-menu i{
    font-size: 22px;
  }

  .about-us-text h3,
  .about-us-text p{
    margin-left: 2%;
    margin-right: 2%;
    line-height: 30px;
  }

  .location-container{
    height: 100vh;
     background-color: rgb(237, 237, 237);
  }

  .footer{
    margin-top: 50px;
  }
}

@media screen and (max-width: 680px){

  .logo p{
    font-size: 13px;
  }
  .welcome-text{
    padding-top: 40px;
  }

  .welcome-text h1{
    font-size: 22px;
  }

  .about-us-hero-container{
    height: 1005px;
  }

  .welcome-text p,
  .learn-hero a,
  .p-highlights p,
  .location-context p,
  .join-online p,
  .contact-details p{
    font-size: 13px;
  }

  .location-details{
    display: block;
    align-items: center;
    text-align: center;
    margin-left: 20%;
  }

  .locate-con{
    margin-bottom: 10px;
  }

  .about-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .mission-vision,
  .join-us,
  .mission-con,
  .join-us-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .join-us{
    text-align: center;
    align-items: center;
    margin-left: 5%;
  }

  .leadership-con{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }



  .youtube-container p,
  .location-context p span,
  .contact-details p span{
    font-size: 15px;
  }

  .about{
      flex-direction: column;
      align-items: center;
    }

  .about-container,
  .location-container{
    width: 100%;
    border-top: #e19d35 2px solid;
    border-width: 100%;
    margin-bottom: 50px;
  }
  .about-container h2{
    font-size: 25px;
  }

  .footer{
    margin-top: 540px;
  }
  }

