@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

body{
  overflow-x: hidden;
  background-color: rgb(251, 251, 251);
}

p{
  color: white;
  font-family: "Oswald", sans-serif;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100px;
  margin-top: 0;
  position: relative;
  top: 0;
  font-family: "Oswald", sans-serif;
  
  
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo p{
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.logo img{
  width: 90px;
  height: 110px;
}

nav ul a{
  padding: 10px 20px;
  color: white;
  font-size: 12.5px;
  position: relative;
  width: max-content;
  
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

nav ul a::after{
  content: '';
  position: absolute;
  top: 30px;
  left: 18px;
  width: 68%;
  height: 2px;
  background-color: #e19d35;
  opacity: 0;
  
}

nav ul a:hover::after{
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.nav-menu li{
  position: relative;
}

.donatee a{
  color: rgba(0, 0, 0, 0.95);
  font-size: 12.5px;
  background-color: #e19d35;
  padding: 5px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s ease;
}

.donatee:hover a{
  background-color: rgb(49, 49, 49);
  color: white;
  font-size: 15px;
}

.ham-menu{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  display: none;
}

.ham-menu i{
  color: #e19d35;
  font-size: 30px;
}

.location-details{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin-top: 20px;
  position: relative;
}

.locate-con{
  display: flex;
}

.location-details p{
  color: rgb(49, 49, 49);
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

.location-details div i{
  color: #e19d35;
}

.contact-container{
  margin-top: 5px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.contact-detail{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact h2{
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.contact hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #e19d35;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-detail textarea{
  height: 150px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-detail input{
  color: white;
}

.contact-detail ::placeholder{
  color: #a7967d;
}

.contact-detail button{
  padding: 10px 25px;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  font-size: 14px;
  background-color: #e19d35;
  border: none;
  border-radius: 50px;
  margin: 0 auto;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 50px;
}
.about{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: rgb(237, 237, 237);
  padding-bottom: 30px;
}

.contact-inputs:focus{
  border: 2px solid #e19d35;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.about-container h2{
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.about-context{
  margin: 20px 0 0 0;

}

.about-context p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
}

.p-highlights{
  margin-top: 30px;
  margin-bottom: 30px;
}

.location-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.location-context{
  margin-top: 20px;
  margin-bottom: 10px;
}

.location-context p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
}
.location-context p span{
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.location-container h2{
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.p-highlights p{
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 20px 70px;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  transition: .5s ease;
}

.p-highlights:hover p{
  background: #e19d35;
  color: rgb(49, 49, 49);
  font-size: 15px;
  
}

.read-more-txt a{
  font-family: "Oswald", sans-serif;
  color: #e19d35;
  font-size: 14px;
  transition: .6s ease;
}

.read-more-txt:hover a{
  color: rgb(49, 49, 49);
  font-size: 14px;
}

.join-online p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
}

.join-online a{
  color: rgb(225, 47, 47);
}

.contact-details{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 8px;
}

.contact-details p{
  color: rgb(49, 49, 49);
  font-size: 14px;
}

.contact-details p span{
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.footer{
  width: 100%;
  height: 150px;
  background-color: #e19d35;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer-container p{
  color: rgb(49, 49, 49);
  font-size: 13px;
}

.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socials-container i{
  font-size: 28px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.95);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  header{
    white-space: nowrap;
    padding: 0 3%;
  }

  .logo p{
    font-size: 11px;
  }

  nav ul a,
  .donatee a{
    font-size: 11px;
  }

  .location-container h2,
  .about-container h2,
  .donation-container p{
    font-size: 30px;
  }

  .youtube-container p{
    font-size: 13.6px;
  }

  .about{
    margin-bottom: -80px;
  }

  .about-context p{
    margin-left: 5px;
  }

  .socials-container i{
    font-size: 22px;
  }

  .footer{
    margin-top: 0;
  }
}

@media screen and (max-width: 750px){
  
  .logo{
    margin-left: -40px;
  }

  .logo p{
    font-size: 13px;
  }

  .nav-menu{
    position: absolute;
    top: 80px;
    left: -100%;
    gap: 40px;
    flex-direction: column;
    background-color: #e19d35;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.6s ease;
    z-index: 200;
  }

  .nav-menu.active{
    left: 0;
  }
  

  nav ul a{
    color: white;
    margin-top: 30px;
    transition: .6s ease-in-out;
  }

  nav ul a:hover{
    color: rgb(49, 49, 49);
  }

  .donatee a,
  .border-line{
    display: none;
  }

  .ham-menu{
    display: block;
    cursor: pointer;
  }

  .ham-menu i{
    font-size: 22px;
  }

  .footer{
    margin-top: 0;
  }
}

@media screen and (max-width: 600px){

  .location-context p,
  .join-online p,
  .contact-details p{
    font-size: 13px;
  }

  .location-details{
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .locate-con{
    margin-bottom: 10px;
  }

  .youtube-container p,
  .location-context p span,
  .contact-details p span{
    font-size: 15px;
  }

  .contact-container{
    margin-bottom: -30px;
    margin-top: -30px;
    padding-left: 30px;
    padding-right: 15px;
  }

  .about{
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;
    }

  .about-container,
  .location-container{
    width: 100%;
    border-width: 100%;
    margin-bottom: 10px;
  }
  .about-container h2{
    font-size: 25px;
  }

  .footer{
    flex-direction: column-reverse;
    height: auto;
    gap: 15px;
    padding: 10px 0;
  }

  }

