@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

html{
  overflow-x: hidden;

body{
  background-color: rgb(251, 251, 251);
}

p{
  color: white;
  font-family: "Oswald", sans-serif;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: transparent;
  width: 100%;
  margin-top: 30px;
  position: absolute;
  top: 0;
  font-family: "Oswald", sans-serif;
  
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo p{
  font-size: 14px;
  cursor: pointer;
}

.logo img{
  width: 90px;
  height: 110px;
}

nav ul a{
  padding: 10px 20px;
  color: white;
  font-size: 12.5px;
  position: relative;
  width: max-content;
  
}

.nav-menu{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

nav ul a::after{
  content: '';
  position: absolute;
  top: 30px;
  left: 18px;
  width: 68%;
  height: 2px;
  background-color: #e19d35;
  opacity: 0;
  
}

nav ul a:hover::after{
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.nav-menu li{
  position: relative;
  transition: .7s ease;
}

.donatee a{
  color: white;
  font-size: 12.5px;
  background-color: #e19d35;
  padding: 5px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s ease;
}

.donatee:hover a{
  background-color: rgb(49, 49, 49);
  font-size: 15px;
}

.ham-menu{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  display: none;
}

.ham-menu i{
  color: #e19d35;
  font-size: 30px;
}

.location-details{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin-top: 120px;
  position: absolute;
}

.locate-con{
  display: flex;
}

.location-details p{
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

.location-details div i{
  color: #e19d35;
}

.hero-container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/about-us-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  
}


.welcome-text h1{
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 250px;
}

.welcome-text p{
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  color: white;
  text-align: center;
  align-items: center;
}

.learn-hero{
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.learn-hero a{
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  color: white;
  background-color: #e19d35;
  padding: 10px 20px;
  border-radius: 35px;
  transition: .5s ease;
}

.learn-hero a:hover{
  background-color: rgb(49, 49, 49);
  color: white;
  font-size: 15px;
}

.slider-container{
  background: rgb(237, 237, 237);
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.swiper {
  width: 850px;
  height: 380px;
}

.swiper-slide img{
  width: 100%;
  height: fit-content;
}

.swiper-button-prev,
.swiper-button-next{
  background-color: white;
  border-radius: 50%;
  padding: 14px;
}

.watch-online{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  background: rgb(237, 237, 237);
  padding: 5px 5px 10px 5px;
}

.border-line{
  width: 100%;
  border: rgb(49, 49, 49) 1px solid;
}

.youtube-container, 
.donation-container,
.events-container{
  width: 100%;
  margin-top: 200px;
  
}


.youtube-container div, 
.donation-container div,
.events-container div{
  width: 100%;
  margin-top: -180px;
}

.youtube-embed iframe,
.donate-con img,
.events-con img{
  width: 100%;
  height: 350px;
  margin-top: 180px;
  cursor: pointer;
}

.youtube-container p{
  font-family: "Oswald", sans-serif;
  font-size: 20.5px;
  font-weight: 600;
  color: white;
  background-color: rgb(225, 47, 47);
  width: 100%;
  padding: 20px 30px;
  text-align: center;
}

.events-container p{
  font-family: "Oswald", sans-serif;
  font-size: 20.5px;
  font-weight: 600;
  color: white;
  background-color: #e19d35;
  width: 100%;
  padding: 20px 30px;
  text-align: center;
}


.donation-container p{
  font-family: "Oswald", sans-serif;
  font-size: 20.5px;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  padding: 20px 30px;
  text-align: center;
}

.about{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-color: rgb(237, 237, 237);
  padding-bottom: 30px;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.about-container h2{
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.about-context{
  margin: 20px 0 0 0;

}

.about-context p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
}

.p-highlights{
  margin-top: 30px;
  margin-bottom: 30px;
}

.location-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.location-context{
  margin-top: 20px;
  margin-bottom: 10px;
}

.location-context p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
}
.location-context p span{
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.location-container h2{
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.p-highlights p{
  color: white;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 20px 70px;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  transition: .5s ease;
}

.p-highlights:hover p{
  background: #e19d35;
  color: rgb(49, 49, 49);
  font-size: 15px;
  
}

.read-more-txt a{
  font-family: "Oswald", sans-serif;
  color: #e19d35;
  font-size: 14px;
  transition: .6s ease;
}

.read-more-txt:hover a{
  color: rgb(49, 49, 49);
  font-size: 14px;
}

.join-online p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
}

.join-online a{
  color: rgb(225, 47, 47);
}

.contact-details{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 8px;
}

.contact-details p{
  color: rgb(49, 49, 49);
  font-size: 14px;
}

.contact-details p span{
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.footer{
  width: 100%;
  height: 100px;
  background-color: #e19d35;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer-container p{
  color: rgb(49, 49, 49);
  font-size: 13px;
}

.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socials-container i{
  font-size: 28px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.95);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  header{
    white-space: nowrap;
    padding: 0 3%;
  }

  .logo p{
    font-size: 10px;
  }

  nav ul a,
  .donatee a{
    font-size: 10px;
  }

  .slider-container{
    margin: 10px 0;
  }

  .swiper{
    width: 700px;
    height: 300px;
  }

  .watch-online{
    flex-direction: column;
    margin-top: 400px;
    margin-bottom: 430px;
    padding: 10px;
  }

  .location-container h2,
  .about-container h2,
  .donation-container p{
    font-size: 30px;
  }

  .youtube-container p{
    font-size: 13.6px;
  }

  .about-context p{
    margin-left: 5px;
  }

  .socials-container i{
    font-size: 22px;
  }

  .footer{
    margin-top: 30px;
  }
}

@media screen and (max-width: 750px){
  
  .logo{
    margin-left: -40px;
  }

  .logo p{
    font-size: 13px;
  }

  .nav-menu{
    position: absolute;
    top: 80px;
    left: -100%;
    gap: 40px;
    flex-direction: column;
    background-color: #e19d35;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.6s ease;
    z-index: 200;
  }

  .nav-menu.active{
    left: 0;
  }
  

  nav ul a{
    color: white;
    margin-top: 30px;
    transition: .6s ease-in-out;
  }

  nav ul a:hover{
    color: rgb(49, 49, 49);
  }

  .donatee a,
  .border-line{
    display: none;
  }

  .ham-menu{
    display: block;
    cursor: pointer;
  }

  .ham-menu i{
    font-size: 22px;
  }

  .slider-container{
    margin-bottom: 420px;
    padding: 10px;
  }

  .watch-online{
    flex-direction: column;
    margin-top: 580px;
  
  }

  .youtube-container p{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }

  .youtube-embed iframe{
  margin-bottom: 30px;
  }

  .donate-con img{
    margin-bottom: 310px;
  }

  .donation-container p{
    text-align: center;
    font-weight: 600;
  }

  .location-container{
    height: 100vh;
     background-color: rgb(237, 237, 237);
  }

  .about{
    margin-top: -100px;
  }
  .footer{
    margin-top: 50px;
  }
}

@media screen and (max-width: 680px){
  
  .welcome-text{
    padding-top: 40px;
  }

  .welcome-text h1{
    font-size: 22px;
  }

  .welcome-text p,
  .learn-hero a,
  .p-highlights p,
  .location-context p,
  .join-online p,
  .contact-details p{
    font-size: 13px;
  }

  .location-details{
    display: block;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 5%;
  }

  .locate-con{
    margin-bottom: 10px;
  }

  .swiper {
  width: 650px;
  height: 250px;
  padding: 0 10px;
  }

  .watch-online{
    margin-top: 500px;
  }

  .youtube-container p,
  .location-context p span,
  .contact-details p span{
    font-size: 15px;
  }

  .donation-container p{
    font-size: 22px;
  }

  .youtube-embed iframe{
    width: 100%;
    height: 280px;
  }

  .about{
      flex-direction: column;
      align-items: center;
    }

  .about-container,
  .location-container{
    width: 100%;
    border-top: #e19d35 2px solid;
    border-width: 100%;
    margin-bottom: 50px;
  }
  .about-container h2{
    font-size: 25px;
  }

  .footer{
    margin-top: 240px;
  }
  }





