@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

body{
  background-color: rgb(237, 237, 237);
}

p{
  color: white;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: transparent;
  width: 100%;
  margin-top: 30px;
  position: absolute;
  top: 0;
  font-family: "Oswald", sans-serif;
  
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo p{
  font-size: 10px;
  cursor: pointer;
}

.logo img{
  width: 50px;
  height: 50px;
}

.home-active{
  color: #e19d35;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

span i{
  color: #e19d35;
}

.dropdown-menu{
  position: absolute;
  display: block;
  text-align: start;
  background-color: white;
  opacity: 0;
  padding-bottom: 5px;
}

.dropdown-menu:hover{
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.dropdown-menu a{
  color: #e19d35;
}

nav ul a{
  padding: 10px 20px;
  color: white;
  font-size: 12.5px;
  position: relative;
  width: max-content;
  
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

nav ul a::after{
  content: '';
  position: absolute;
  top: 30px;
  left: 18px;
  width: 68%;
  height: 2px;
  background-color: #e19d35;
  opacity: 0;
  
}

nav ul a:hover::after{
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.donatee p{
  color: white;
  font-size: 12.5px;
  background-color: #e19d35;
  padding: 5px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s ease;
}

.donatee:hover p{
  background-color: rgb(49, 49, 49);
  font-size: 15px;
}

.ham-menu{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  display: none;
}

.ham-menu i{
  color: #e19d35;
  font-size: 30px;
}
.hero-container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/about-us-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  
}

.about-us-hero-container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/worship.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
}


.welcome-text h1{
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 250px;
}

.welcome-text p{
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  color: white;
  text-align: center;
  align-items: center;
}

.learn-hero{
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.learn-hero a{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: white;
  background-color: #e19d35;
  padding: 10px 20px;
  border-radius: 35px;
  transition: .5s ease;
}

.learn-hero a:hover{
  background-color: rgb(49, 49, 49);
  color: white;
  font-size: 15px;
}

.slider-container{
  background: rgb(237, 237, 237);
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.swiper {
  width: 850px;
  height: 380px;
}

.swiper-slide img{
  width: 100%;
  height: fit-content;
}

.swiper-button-prev,
.swiper-button-next{
  background-color: white;
  border-radius: 50%;
  padding: 14px;
}

.watch-online{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.border-line{
  width: 100%;
  border: rgb(49, 49, 49) 1px solid;
}

.youtube-container, 
.donation-container{
  width: 100%;
  margin-top: 200px;
  
}


.youtube-container div, 
.donation-container div{
  width: 100%;
  margin-top: -180px;
}

.youtube-embed iframe,
.donate-con img{
  width: 100%;
  height: 350px;
  margin-top: 180px;
  cursor: pointer;
}

.youtube-container p{
  font-family: "Montserrat", sans-serif;
  font-size: 20.5px;
  font-weight: 600;
  color: white;
  background-color: rgb(210, 66, 66);
  width: 100%;
  padding: 25px 30px;
  text-align: center;
}

.donation-container div{
  width: 100%;
  margin-top: -180px;
}

.donation-container p{
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  color: white;
  background-color: rgb(24, 21, 58);
  width: 100%;
  padding: 15px 20px;
  text-align: center;
}

.about{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-color: rgb(237, 237, 237);
  padding-bottom: 30px;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.about-container h2{
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.about-context{
  margin: 20px 0 0 0;

}

.about-context p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
}

.p-highlights{
  margin-top: 30px;
  margin-bottom: 30px;
}

.location-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.location-context{
  margin-top: 20px;
  margin-bottom: 10px;
}

.location-context p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
}
.location-context p span{
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.location-container h2{
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  color: rgb(49, 49, 49);
}

.p-highlights p{
  color: white;
  background-color: rgb(24, 21, 58);
  padding: 20px 70px;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  transition: .5s ease;
}

.p-highlights:hover p{
  background: #e19d35;
  color: rgb(49, 49, 49);
  font-size: 15px;
  
}

.read-more-txt a{
  color: #e19d35;
  font-size: 13px;
  transition: .6s ease;
}

.read-more-txt:hover a{
  color: rgb(49, 49, 49);
  font-size: 14px;
}

.join-online p{
  color: rgb(49, 49, 49);
  line-height: 30px;
  font-size: 14px;
}

.join-online a{
  color: rgb(210, 66, 66);
}

.contact-details{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 8px;
}

.contact-details p{
  color: rgb(49, 49, 49);
  font-size: 14px;
}

.contact-details p span{
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.footer{
  width: 100%;
  height: 150px;
  background-color: #e19d35;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer-container p{
  color: rgb(49, 49, 49);
  font-size: 13px;
}

.socials-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socials-container i{
  font-size: 28px;
  margin-left: 10px;
  color: rgb(49, 49, 49);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  header{
    white-space: nowrap;
    padding: 0 3%;
  }

  .logo p{
    font-size: 8px;
  }

  .home-active{
    margin-top: 5px;
  }

  nav ul a,
  .donatee p{
    font-size: 10px;
  }

  .slider-container{
    margin: 10px 0;
  }

  .swiper{
    width: 700px;
    height: 300px;
  }

  .location-container h2,
  .about-container h2,
  .donation-container p{
    font-size: 30px;
  }

  .youtube-container p{
    font-size: 13.6px;
  }

  .about-context p{
    margin-left: 5px;
  }

  .socials-container i{
    font-size: 22px;
  }

  .footer{
    margin-top: 30px;
  }
}

@media screen and (max-width: 750px){
  
  header{
    margin-left: -40px;
  }
  
  nav ul a,
  .home-active,
  .donatee p,
  .border-line{
    display: none;
  }

  .ham-menu{
    display: block;
    margin-right: -80px;
  }

  .ham-menu i{
    font-size: 22px;
  }

  .slider-container{
    margin-bottom: 420px;
  }

  .watch-online{
    flex-direction: column;
  }

  .youtube-container p{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }

  .youtube-embed iframe{
  margin-bottom: 30px;
  }

  .donate-con img{
    margin-bottom: 350px;
  }

  .donation-container p{
    text-align: center;
    font-weight: 600;
  }

  .footer{
    margin-top: 50px;
  }
}

@media screen and (max-width: 680px){

  .welcome-text{
    padding-top: 40px;
  }

  .welcome-text h1{
    font-size: 20px;
  }

  .welcome-text p,
  .learn-hero a,
  .p-highlights p,
  .location-context p,
  .join-online p,
  .contact-details p{
    font-size: 12px;
  }

  .swiper {
  width: 450px;
  height: 270px;
  padding: 0 10px;
}

  .swiper-slide img{
  width: 100%;
  height: fit-content;
  margin-top: -20px  
}

.watch-online{
  margin-top: -60px;
}

.youtube-container p,
.location-context p span,
.contact-details p span{
  font-size: 15px;
}

.donation-container p{
  font-size: 22px;
}

.youtube-embed iframe{
  width: 100%;
  height: 280px;
}

.about{
    flex-direction: column;
    align-items: center;
  }

.about-container,
.location-container{
  width: 100%;
  border-top: #e19d35 2px solid;
  border-width: 100%;
  margin-bottom: 50px;
}
.about-container h2{
  font-size: 25px;
}

.footer{
  margin-top: 330px;
}
}











